body {
    background-color:rgb(206, 214, 224);
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 15px;
}

div {
    background-color: rgba(0, 0, 100, 0.1);
}

img {
    border-style: solid;
    color: black;
    border-radius: 10px;
    position: relative;
    margin: auto;
    width: 25%;
    float: right;
}

a{
    color:midnightblue;
    text-decoration: none;
    padding-right: 30px;
}